@import url(../../root.css);
button{
    border: none;
    background: none;
}
.mainWrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--corDeFundo);
    display: flex;
    flex-direction: column;
}
.navWrapper{
    width: 100%;
    height: 12vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 64px;
    font-style: italic;
    color: var(--corContraste);
    padding-left: 7rem;
    text-shadow: 0px 3px 10.3px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.logo p{
    cursor: pointer;
}
.NavList{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.mainlist{
    font-size: 40px;
    font-weight: bold;
    color: var(--corDeTexto);
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mainlist li{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: var(--corDeTexto);
}
a:hover{
    animation: hoverzada .2s ease-in-out forwards;
}

@keyframes hoverzada {
    0%{
        color: var(--corDeTexto);
    }
    100%{
        color: var(--corContraste);
    }
}

/* Main Part */


.mainBodyWrapper{
    margin-top: 12vh;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MainTextWrapper{
    width: 60%;
    height: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 100px 40px 100px;
}
.MainTextWrapper p {
    font-weight: bold;
    color: var(--corDeTexto);
    font-size: 100px;
    text-align: left;
}
.linksWrapper{
    background-color: var(--corAdicional);
    display: flex;
    height: 5em;
    align-items: center;
    justify-content: space-around;
    border-radius: 80px;
    width: 22em;
    list-style: none;
}
.linksWrapper li:hover {
    cursor: pointer;
    transform: scale(1.2); /* Ajuste o valor conforme necessário para o efeito desejado */
    transition: transform 0.3s ease; /* Adiciona uma transição suave para o efeito */
}
strong{
    color: var(--corContraste);
}
.TStrong{
    color: var(--corContraste);
}
.PhotoMainWrapper{
    width: 650px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center ;
}
.PhotoMainWrapper div{
    width: 650px;
    border-radius: 100%;
    height: 650px;
    border: 10px solid var(--corContraste);
    background-image: url(../../static/initImg.jpeg);
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir completamente a div */
    background-position: center; /* Centraliza a imagem na div */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}

.hBtton{
    display: none;
    opacity: 0;
}
.cButton{
    display: none;
    opacity: 0;
}



@media screen and (min-width: 601px) and (max-width: 1150px) {
    .hBtton{
        display: block;
        opacity: 1;
    }
    .cButton{
        display: block;
        opacity: 1;
    }
    .mainBodyWrapper{
        flex-direction: column-reverse;
    }
    .PhotoMainWrapper ,.PhotoMainWrapper div{
        width: 400px;
        height: 400px;
        align-items: center;
        justify-content: center;
    }
    .MainTextWrapper p{
        font-size: 48px;
        text-align: center;
    }
    .mainlist{
        transition: transform 0.5s ease-out;
        flex-direction: column;
        background-color: var(--corAdicional);
        position: fixed;
        visibility: visible;
        transform: translateY(-100%);
        top: 0;
        left: 0;
        height: 100vh;
        gap: 1.5rem;
    }
    .MainTextWrapper{
        width: 100%;
        padding: 0px 100px 0px 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navWrapper{
        height: 10vh;
    }
    .mainBodyWrapper{
        margin-top: 10vh;
    }
}
@media screen and (min-width: 1151px) and (max-width: 1600px) {
    .mainBodyWrapper{
        flex-direction: row;
    }
    .PhotoMainWrapper, .PhotoMainWrapper div{
        width: 550px;
        height: 550px;
        align-items: center;
        justify-content: center;
    }
    .MainTextWrapper p{
        font-size: 80px;
        text-align: left;
    }
    .MainTextWrapper{
        width: 100%;
       
        display: flex;
        align-items: start;
        justify-content: center;
    }
    .navWrapper{
        height: 9vh;
    }
    .mainBodyWrapper{
        margin-top: 9vh;
    }
}
@media screen and (min-width: 100px) and (max-width: 600px) {
    .linksWrapper{
        width: 18em;
        height: 5em;
    }
    .hBtton{
        display: block;
        opacity: 1;
    }
    .cButton{
        display: block;
        opacity: 1;
    }
    .mainBodyWrapper{
        flex-direction: column-reverse;
    }
    .PhotoMainWrapper ,.PhotoMainWrapper div{
        margin-top: 30px;
        width: 350px;
        height: 350px;
        align-items: center;
        justify-content: center;
    }
    .MainTextWrapper p{
        padding: 0px 10px 0px 10px;
        font-size: 38px;
        text-align: center;
    }
    .mainlist{
        transition: transform 0.5s ease-out;
        flex-direction: column;
        background-color: var(--corAdicional);
        position: fixed;
        visibility: visible;
        transform: translateY(-100%);
        top: 0;
        left: 0;
        height: 100vh;
        gap: 1.5rem;
    }
    .MainTextWrapper{
        width: 100%;
        padding: 0px 100px 0px 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navWrapper{
        height: 10vh;
    }
    .mainBodyWrapper{
        margin-top: 10vh;
    }
}
.show{
    transform: translateY(0)
}
