:root{
    --corDeFundo:   #17202A;
    --corDeTexto:   #E5E8E8;
    --corAdicional: #2C3E50;
    --corContraste: #3498DB;
}
.mainWrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--corDeFundo);
    display: flex;
    flex-direction: column;
}
.navWrapper{
    width: 100%;
    height: 12vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 64px;
    font-style: italic;
    color: var(--corContraste);
    padding-left: 7rem;
    text-shadow: 0px 3px 10.3px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.logo p{
    cursor: pointer;
}
.NavList{
    width: 60%;
    height: 100%;
}
.mainlist{
    font-size: 40px;
    font-weight: bold;
    color: var(--corDeTexto);
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mainlist li{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: var(--corDeTexto);
}
a:hover{
    animation: hoverzada .2s ease-in-out forwards;
}

@keyframes hoverzada {
    0%{
        color: var(--corDeTexto);
    }
    100%{
        color: var(--corContraste);
    }
}

/* Main Part */


.mainBodyWrapper{
    margin-top: 12vh;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MainTextWrapper{
    width: 60%;
    height: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
}
.MainTextWrapper p {
    font-weight: bold;
    color: var(--corDeTexto);
    font-size: 100px;
    text-align: left;
}
.linksWrapper{
    background-color: var(--corAdicional);
    display: flex;
    height: 5em;
    align-items: center;
    justify-content: space-around;
    border-radius: 80px;
    width: 22em;
    list-style: none;
}
.linksWrapper li:hover {
    cursor: pointer;
    transform: scale(1.2); /* Ajuste o valor conforme necessário para o efeito desejado */
    transition: transform 0.3s ease; /* Adiciona uma transição suave para o efeito */
}

strong{
    color: var(--corContraste);
}
.PhotoMainWrapper{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
}
.PhotoMainWrapper div{
    margin-bottom: 5em;
    width: 650px;
    border-radius: 100%;
    height: 650px;
    border: 10px solid var(--corContraste);
    background-image: url(../../static/initImg.jpeg);
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir completamente a div */
    background-position: center; /* Centraliza a imagem na div */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}