:root{
    --corDeFundo:   #17202A;
    --corDeTexto:   #E5E8E8;
    --corAdicional: #2C3E50;
    --corContraste: #3498DB;
}


.MainCard{
    display: flex;
    flex-direction: row-reverse;
    width: 1500px;
    height: 400px;
    align-items: center;
    background-color: var(--corAdicional);
    gap: 5em;
    border-radius: 20px;
    padding: 0px 0px 0px 20px;
    box-shadow: 4px 4px 7.6px 0px rgba(0, 0, 0, 0.25);
}
.CardPhoto{
    width: 600px;
    height: 100%;
    background-color: beige;
    border-radius: 0px 20px 20px 0px;
    aspect-ratio: 16/9;
    flex-shrink: 0;
}
.Pdiv{
    padding: 20px;
    height: 100%;
}
.PTitle{
    text-align: right;
    font-size: 48px;
    color: var(--corContraste);
    font-weight: bolder;
}
.PContent{
    margin-top: 20px;
    overflow: auto;
    height: 160px;
    text-align: right;
    color: var(--corDeTexto);
    font-size: 32px;
    font-weight: bold;
}
.PButtons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4em;
    align-self: flex-end; /* Alinha a div de botões na parte inferior */
}

.ButtonBlue {
    margin-top: 25px;
    border: none;
    width: 105px;
    height: 84px;
    border-radius: 20px;
    background-color: var(--corContraste);
    color: var(--corDeTexto);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.ButtonBlue:hover{
    transform: scale(1.1);
}

.isLeftMain{
    flex-direction: row;
    padding: 0px 20px 0px 0px;
}
.isLeftPhoto{
    border-radius: 20px 0px 0px 20px;
}
.isLeftTitle{
    text-align: left;
}
.isLeftContent{
    text-align: left;
}
.isLeftButtons{
    flex-direction: row;
}
.disAble{
    background-color: #CF000F;
    bottom: unset;
    cursor: not-allowed;
}
.disAble:hover{
    transform: scale(1);
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .MainCard{
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 0px 0px 20px 0px;
        gap: 1em;
    }   
    .CardPhoto{
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    .PTitle{
        text-align: center;
    }
    .PContent{
        font-size: 24px;
        padding: 10px;
        text-align: justify;
        overflow: hidden;

    }
    .PButtons{
        align-items: center;
        justify-content: center;
    }
}