@import url(../../root.css);

.AboutWrapper{
    width: 100%;
    background-color: var(--corDeFundo);
    padding-bottom: 5rem;
    overflow: hidden;

}

.AboutHeader{
    font-size: 100px;
    font-weight: bold;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--corDeTexto);
}

.AboutMainWrapper{
    width: 100%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    gap: 7em
}
.AboutImage{
    object-fit: cover;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.AboutText{
    width: 40%;
    height: 500px;
    color: var(--corDeTexto);
}
.AboutText p{
    width: 100%;
    height: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 32px;
    color: var(--corDeTexto);
}
.StrongHi{
    color: var(--corContraste);
    font-size: 96px;
}
.strongVisibility{
    color: var(--corContraste);
    font-style: italic;
}
@media screen and (min-width: 601px) and (max-width: 900px){
    .AboutText{
        width: 100%;
        height: 100%;
    }
    .AboutHeader{
        font-size: 80px;
        margin-bottom: 2rem;
    }
    .AboutMainWrapper{
        flex-direction: column;
        gap: 1em;
    }
    .AboutText, .AboutText p{
        width: 100%;
        font-size: 28px;
        padding: 20px;
        text-align: justify;
    }
    .AboutWrapper{
        height: 120vh;
    }
    .StrongHi{
        font-size: 64px;
        text-align: center;
    }
    .AboutImage{
        width: 400px;
        height: 400px;
    }
}
@media screen and (min-width: 100px) and (max-width: 600px){
    .AboutText{
        width: 100%;
        height: 100%;
    }
    .AboutHeader{
        height: 10vh;
        font-size: 50px;
        
    }
    .AboutMainWrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 1em;
    }
    .AboutHeader{
        font-size: 60px;
    }
    .AboutText, .AboutText p{
        width: 100%;
        font-size: 24px;
        padding: 20px;
        text-align: justify;
    }
    .AboutImage{
        height: 14em;
        width: 20em;
    }
}